---
layout: default
---

<div  class="grid md:grid-cols-3 gap-10 mb-20">
  <img src="https://static.wixstatic.com/media/58b691_7de0fe384ec64e7286390686f88749c2~mv2.png/v1/fill/w_314,h_130,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logo_edited.png" class="w-40 md:mb-20"/>

  <div class="max-w-3xl md:col-start-2 md:col-span-2">
    <div class="flex mb-5 justify-between items-center">
      <h1 class="text-5xl text-rose-500 font-custom font-bold">We found something interesting</h1>
      <a href="/" class="p-5 rounded-full group hover:bg-purple-400/20">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 stroke-purple-500 group-hover:rotate-180 transition-all duration-300 group-hover:stroke-violet-500 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" /> <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
</svg>
      </a>
    </div>
    <p class="opacity-80">A collection of the best events for you, your family and friends.</p>
  </div>
</div>


<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-16">

  <%= render Event.new(img: "https://www.billboard.com/wp-content/uploads/media/madonna-live-london-2015-billboard-650.jpg?w=650", title: "Madonna", category: "Concert", location: "Beach House Club", price: "50-200") %>

  <%= render Event.new(img: "http://www.pcot.permp.ru/png/apo.png", title: "Rafting down a mountain river", category: "Guided Tours", location: "Nature", price: "400") %>

  <%= render Event.new(img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxbfSrtzxmFR78b53KOtCQEQsfKDbBKCNyqsrG6azXjkAL_8Lr", title: "Hustle", category: "Cinema", location: "Cinema Park", price: "25-80") %>

  <%= render Event.new(img: "https://cdn.kassir.ru/spb/gallery/4d/4d5782b23ef12b584241ad1cdb9da02b.jpg", title: "Jazz Party", category: "Concert", location: "Paradise Club", price: "150") %>

  <%= render Event.new(img: "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRvN8j54ran-QIT8TsDlI2YF-mAB_MZd6hkclWWuQRsRPLfER6Q", title: "Scream", category: "Cinema", location: "Prime Cinema", price: "43") %>

  <%= render Event.new(img: "https://cdn-az.allevents.in/events6/banners/c9e57c809a6dc5b1b3a44d9e24712d36a44d9b749c4b64f02ba4abafe0960446-rimg-w960-h503-gmir.jpg?v=1654711401", title: "HipNotics International Camp - with The Peacock Brothers", category: "Party", location: "HipNotics cable park", price: "0") %>
</div>

<script>
  function startConfetti() {
 var count = 400;
var defaults = {
  origin: { y: 0.2 }
};

function fire(particleRatio, opts) {
  confetti(Object.assign({}, defaults, opts, {
    particleCount: Math.floor(count * particleRatio)
  }));
}

fire(0.25, {
  spread: 26,
  startVelocity: 55,
});
fire(0.45, {
  spread: 260,
  startVelocity: 25,
});
fire(0.2, {
  spread: 60,
});
fire(0.35, {
  spread: 100,
  decay: 0.91,
  scalar: 0.8
});
fire(0.1, {
  spread: 220,
  startVelocity: 25,
  decay: 0.92,
  scalar: 1.2
});
fire(0.1, {
  spread: 420,
  startVelocity: 25,
  decay: 0.92,
  scalar: 1.2
});
fire(0.1, {
  spread: 120,
  startVelocity: 45,
});   
  }

  document.onload = startConfetti({
    })
</script>


