<a href="#" class="bg-white flex flex-col group hover:-translate-y-4 transition-all duration-300 overflow-hidden rounded-2xl isolate">

  <% if @category == "Cinema" %>
    <div class="relative isolate">
      <img src="<%= @img %>" class="h-64 group-hover:scale-110 transition-all duration-300 object-top bg-slate-900 w-full -z-10 object-contain" />
      <span class="absolute group-hover:bg-violet-500 top-4 left-4 rounded-full bg-violet-600/60 font-bold px-5 py-2 text-white font-custom text-sm backdrop-blur-md uppercase letter tracking-wide"><%= @category %></span>
    </div>
  <% else %>
    <div class="relative overflow-hidden isolate">
      <img src="<%= @img %>" class="h-64 group-hover:scale-110 transition-all duration-300 object-top bg-slate-900 w-full -z-10 object-cover" />
      <span class="absolute group-hover:bg-violet-500 top-4 left-4 rounded-full bg-violet-600/60 font-bold px-5 py-2 text-white font-custom text-sm backdrop-blur-md uppercase letter tracking-wide"><%= @category %></span>
    </div>
  <% end %>

    <div class="flex flex-1 p-5 justify-between flex-col">
      <div class="mb-5">
        <h2 class="text-xl group-hover:text-purple-600 text-purple-500 font-bold font-custom"><%= @title %></h2>
        <p class="text-slate-500"><%= @location %></p>
      </div>
      <% if @price == "0" %>
        <p class="text-xl text-emerald-500 font-bold">Free</p>
      <% else %>
        <p class="text-xl font-bold">$<%= @price %></p>
      <% end %>
    </div>

</a>
